<% include partials/header %>
<h1>Login!</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" id="">
    <input type="password" name="password" placeholder="password" id="">
    <button class="btn btn-success">Submit</button>
</form>

<% include partials/footer %>